{% extends 'admin/master.html' %}

{% macro attribute_link(attr_type, module_name, object_path, attr_name) %}
    {% if attr_type == 'module' %}
        {% with new_module_name = "%s.%s" % (module_name, attr_name) %}
            <a href="{{ url_for('debug_api_browse.module_detail', module_name=new_module_name) }}">{{ attr_name }}</a>
        {% endwith %}
    {% else %}
        {% with new_object_path = attr_name if not object_path else "%s/%s" % (object_path, attr_name) %}
            <a href="{{ url_for('debug_api_browse.attr_detail', module_name=module_name, object_path=new_object_path) }}">{{ attr_name }}</a>
        {% endwith %}
    {% endif %}
{% endmacro %}

{% block app_body %}
    <h2>Meta</h2>
    <dl class="dl-horizontal">
        <dt>VALUE</dt>
        <dd>{{ root_object }}</dd>
        {% for meta_name, meta_val in object_meta.iteritems() %}
            <dt>{{ meta_name|title }}</dt>
            <dd>{{ meta_val }}</dd>
        {% endfor %}
    </dl>
    {% for attr_type, attr_names in grouped_attrs.iteritems() %}
        <h2>{{ attr_type }}</h2>
        <div class="row">
            {% for attr_name in attr_names %}
                <div class="span4">
                    {{ attribute_link(attr_type, module_name, object_path, attr_name) }}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
